* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav div.desktop-menu {
    overflow: hidden;
    background-color: #000;
}

nav>div.desktop-menu>a {
    display: block;
    padding: 15px;
    float: left;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #0F0E0E;
}

nav>div.desktop-menu>a.search {
    float: right;
}

div.dropdown-content {
    display: none;
}

div.mobile-menu {
    display: none;
}

div.banner {}

div.banner>section {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    /*display: none;*/
}

div.banner>section>div.text-display {
    position: absolute;
    bottom: 5px;
    text-align: center;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

div.banner>section>img {
    width: 100%;
}

div.top-content {
    text-align: center;
}

div.top-content h1 {
    text-transform: capitalize;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    padding: 5px, 5px;
    margin: 10px;
}

div.top-content h5 {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: grey;
    margin-bottom: 10px;
    font-style: italic;
}

div.top-content p {
    margin: auto;
    text-align: justify;
    width: 70%;
}